<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.battleship_thegame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.battleship_thegame.FirstScreen"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.battleship_thegame.LoadingScreen"
            android:label="@string/title_activity_loading_screen"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.example.battleship_thegame.PlaceShipStart"
            android:label="@string/title_activity_place_ship_start"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.example.battleship_thegame.PlaceShipEnd"
            android:label="@string/title_activity_place_ship_end"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.example.battleship_thegame.Player1"
            android:label="@string/title_activity_player1"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.example.battleship_thegame.Enemy"
            android:label="@string/title_activity_enemy"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.example.battleship_thegame.ViewMyMap"
            android:label="@string/title_activity_view_my_map" >
        </activity>
    </application>

</manifest>